* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: #2b2929;
}

.calculator {
    border: 1px solid rgb(112, 111, 111);
    border-radius: 10px;
    padding: 20px;
    background: transparent;
    box-shadow: 0 3px 25px #494646;
}

.calculator input {
    width: 330px;
    text-align: right;
    padding: 24px;
    background: transparent;
    border: 1px solid #302c2c;
    border-radius: 4px;
    box-shadow: 0 3px 15px #302c2c;
    font-size: 40px;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 20%;
    margin: 10px;
    border: none;
    outline: none;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    border: 1px solid #302c2c;
    box-shadow: 0 3px 15px #302c2c;
    cursor: pointer;
}

button.equal {
    color: orange;
}

button.operator {
    color: #6dee0a;
}


